$width: 16em;
$height: 32em;
$font-size: 1.5em;
$color: #a7b6c5;

@mixin center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: $width;
  height: $height;
  background: #fff;
  box-shadow: 0 1em 4em rgba(0, 0, 0, .3);
}

.content {
  @include center;
  width: 50%;
  
  .row {
    display: flex;
    text-align: center;
    
    span {
      flex: 1;
      font-size: $font-size;
      line-height: $font-size * 1.618;
      color: $color;
      text-transform: uppercase;
    }
  }
}